*{
    margin:0;
    padding:0;
}

body {
    background-color: #212121;
    font-family:sans-serif;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }


.listing h2{
    color: beige;
}

.listing li {
  
    padding: 10px;
    text-align: left;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.listing ul li a{
    font-family: sans-serif;
    color: beige;
    background-color: red;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.listing a:hover{
    color:yellow;
    transition:all 0.3s ease 0s;
}
